<div class="container">
  <div id="topbar">
    <div id="server-name">
       <span>
         {{servers.0.name}}
       </span>
     </div>
    <div id="top-etc">
      <span>
        Send nudes
      </span>
    </div>
  </div>

  <div id="server-list">
    <div id="server-separator">
      <a href="#"></a>
    </div>
    {{#each servers}}
    <div class="guild-container">
      <div class="guild">
        {{{serverAvatar this}}}
      </div>
    </div>
    {{/each}}
  </div>
  <div id="sidebar">
    <div class="text-channel-category">
      <span>⌨ &nbsp; -- &nbsp; TEXT CHANNELS</span>
      {{#each textchannels}}
        <div class="text-channel">
          # {{{this.name}}}
        </div>
      {{/each}}
    </div>
    <div class="voice-channel-category">
      <span>🎤 &nbsp; -- &nbsp; VOICE CHANNELS</span>
      {{#each voicechannels}}
        <div class="voice-channel">
          <a href="#" onclick="changevc('{{{this.id}}}')">{{{this.name}}}</a>
        </div>
      {{/each}}
    </div>
  </div>
  <div id="soundboard">
    {{#each soundlist}}
      <div class="soundbutton">
        <img src='/img/soundboard/{{{id this}}}.jpg' class="button" onclick="play('{{{id this}}}')" />
      </div>
    {{/each}}
  </div>
  <div id="people-list"><h2>WORK <br /> IN <br /> PROGRESS</h2></div>
</div>
